:root{
  --archivo: 'Archivo', sans-serif;
  --audiowide: 'Audiowide', cursive;
  --oswald: 'Oswald', sans-serif;
  --dark-color: #151515;
  --green-color: #5fad05;
  --dark-green-color: #559b04;
  --red-color: #e60012;  
  --white-color: #ffff;
  --almost-gray-color: #ddd;
  --gray-color: #999;
  --transparent: rgba(0,0,0,.5);
}

*,
*::after,
*::before{
  box-sizing: border-box;
}

html{
  box-sizing: inherit;
  font-size: 16px;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--dark-color);
  margin-top: 5.3rem;
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}

.container{
  margin: 0 auto;
  width: 90%;
}

.hamburger{
  padding: 0;
}

/* header */
.header{    
  width: 100%;
  position: fixed;  
  top: 0;
  display: flex;  
  justify-content: space-between;  
  border-bottom: 3px solid var(--green-color);  
  padding: .8rem 0;
  z-index: 1200;
  background-color: var(--dark-color);
}

.header__button{
  position: fixed;
  right: 5%;  
  z-index: 1000;  
  padding-top: 10px;  
}


.header__title{  
  color: var(--white-color);  
  font-weight: 300;
  font-family: var(--audiowide);
}

.header__title--green{
  color: var(--green-color);
}

.header__navigator{
  position: fixed;   
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  background-color: var(--green-color);  
  display: flex;
  align-items: flex-start;
  justify-content: left;
  min-height: 100vh;
  transform: translateX(100%);
  transition: transform ease-in .3s;
  z-index: 999;
}

.header__navigator--active{
  transform: translateX(0);
}

.header__menu{
  margin: 0;
  padding-left: 1.2rem;  
}

.header__list{  
  margin: 1.2rem 0 0 ;
  list-style: none;
}

.header__list--margin{
  margin: 3rem 0 0;
}

.header__link,
.header__item{
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--oswald);
}

.header__link::after{
  content: url(../assets/images/arrow.png);
  display: inline-block;  
  margin-left: 10px;
  transform: rotate(270deg);  
}

.header__link--home::after{
  content: "";
}
 

.header__item{
  display: block;
  overflow: hidden;
  max-height: 0px;
  font-size: 14px;
  color: var(--almost-gray-color);    
}

.header__item--active{
  max-height: 100px;
}


/* Article */

.article{
  position: relative;        
}
.article::after{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--transparent);
  top: 0;
}

.article__img{  
  object-fit: cover;   
  height: 300px;  
}

.article__container{
  position: absolute;
  z-index: 20;
  top: 0;
  left: 5%;
  right: 5%;  
  height: 100%;
  width: 90%; 
  display: flex;       
  flex-direction: column;
  justify-content: flex-end;
}


.article__title,
.article__paragraph,
.article__author{
  font-family: var(--archivo);  
  color: var(--white-color);  
  font-size: 1.3rem;
  text-align: justify;

}

.article__title{
  text-align: initial;
}
.article__paragraph{
  font-size: .9rem;
  color: var(--almost-gray-color);  
}

.article__author{
  font-size: .7rem;
  color: var(--almost-gray-color);
  font-style: italic;  
}

 .article__readmore{
  display: inline-block;
  color: var(--white-color);
  border-radius: 5px;
  background-color: var(--green-color);
  padding: .5rem;
  text-decoration: none;
  font-family: var(--archivo);
  font-size: .8rem;
  width: 80px;
  margin-bottom: 10px;
 }

/* News & Trailers & Reviews */

.trailers__article{
  border-bottom: 1px solid var(--green-color);
  margin-bottom: 20px;
}

.news__separation,
.reviews__separation{
  background-color: var(--red-color);
}

.trailers__separation{
  background-color: var(--green-color);
}

.news__title,
.trailers__title,
.reviews__title{   
  padding: .7rem 0;
  margin: 1rem auto;    
  color: var(--white-color);
  font-family: var(--archivo);
  font-weight: 500;
  font-size: 20px;  
}

.news__title::before,
.trailers__title::before,
.reviews__title::before{
  content: url("../assets/images/wifi.png");    
  margin-right: 10px;
}

.trailers__title::before{
  content: url("../assets/images/video.png");
}

.reviews__title::before{
  content: url("../assets/images/doble-chat.png");
}

.news__img-container,
.reviews__img-container{  
  position: relative;
}

.news__img-container::after,
.reviews__img-container::after{
  content: url(../assets/images/chat.png) " 10";
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--red-color);  
  padding: .4rem .6rem;  
  color: var(--white-color);  
}

.reviews__img-container::after{
  content: url(../assets/images/star.png) "5";
}

.news__img,
.trailers__video,
.reviews__img{
  object-fit: cover;
  height: 270px;
  width: 100%;  
  object-position: top;
}

.news__subtitle,
.news__article-title,
.news__category,
.news__paragraph,
.news__date,
.trailers__article-title,
.trailers__paragraph,
.trailers__category,
.reviews__subtitle,
.reviews__article-title,
.reviews__category,
.reviews__paragraph,
.reviews__date{
  font-weight: 400;  
  color: var(--almost-gray-color);
  font-family: var(--archivo);  
  font-size: 1.2rem;
}

.news__subtitle,
.reviews__subtitle{
  font-weight: 700;
}

.news__paragraph,
.news__date,
.trailers__paragraph,
.reviews__paragraph,
.reviews__date{
  color: var(--gray-color);
  font-size: 1rem;
}

.news__date,
.reviews_-date{
  margin-bottom: 40px;
}
.news__category,
.trailers__category,
.reviews__category{
  display: inline-block;
  background-color: var(--red-color);
  font-family: var(--oswald);
  font-size: .8rem;
  padding: .3rem;
}

.trailers__category{
  background-color: var(--green-color);
}


/*  Fornait image article*/

.battle__container{
  position: relative;   
}

.battle__img{
  height: 110vh;
  object-fit: cover;  
}

.battle__content{
  position: absolute;
  top: 50%;  
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;  
  left: 50%;
  transform: translate(-50%, -50%);
}

.battle__content *{
  color: var(--white-color);
  font-family: var(--archivo);
}

.battle__subtitle{
  font-family: var(--audiowide);
  margin: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.battle__title{
  font-family: var(--audiowide);
  text-align: center;
  font-size: 2rem;
  margin: 20px;
}

.battle__paragraph{
  margin-top: 0;
  text-align: center;
  color: var(--almost-gray-color);
}

.battle__link{
  display: inline-block;
  text-decoration: none;    
  padding: .5rem;  
  background-color: var(--green-color);
}

.battle__link img{
  display: inline-block;
}